DEBUG=1
SECRET_KEY=changeme
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1,http://localhost
CSRF_COOKIE_SECURE=True
SESSION_COOKIE_SECURE=True
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=changeme
EMAIL_HOST_PASSWORD=changeme
FROM_EMAIL=changeme
RECIPIENT_LIST=changeme
DB_NAME=changeme
DB_USER=changeme
DB_PASSWORD=changeme
DB_HOST=db
DB_PORT=5432